#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {

}

h2 {

}

.meny-kort{
  border: black solid 5px;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
}

.kategori {
    display: none;
}

h3 {

}

strong {

}

.pris-kontainer{
  border: solid black 2px;
}

.pris-kontainer:hover .pris{
  visibility: visible;
}

.pris{
  visibility: hidden;
}
