#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    border-bottom: white 7px solid;
    text-shadow: 0px 0px 5px black;
}

h2 {
    border-bottom: white 2px solid;
    text-shadow: 0px 0px 5px black;
}

.meny-kort{
  border: black solid 5px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  min-width: 300px;
  box-shadow: 5px 5px 10px black;
  
}

.kategori {
    display: none;
}

h3 {

}

strong {

}

.pris-kontainer{
  border: solid white 2px;
  border-radius: 5px;
  background: rgb(145, 88, 137);
}

.pris-kontainer:hover .pris{
  visibility: visible;
}

.pris{
  visibility: hidden;
}
